
.editProduct{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product{
    display: flex;
    justify-content: center;
    gap: 2em;
    width: 100%;
    height: 100vh;
}
.product-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 15em;
}
img{
    max-width: 4em;
    max-height: 4em;
}
.btns{
    cursor:pointer; 
    background-color:rgb(67, 67, 75);
}
