<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add product</title>
    <link rel="stylesheet" href="style/adding-product.css">
</head>
<body>
    <form class="addProduct" action="/addProduct" enctype="multipart/form-data" method="POST" >
        <fieldset>
            <legend>Product info</legend>
            
            <label for="product name">Product name:</label>
            <input type="text" name="productName" required><br><br>
            
            <label for="product description">Product Description:</label>
            <textarea class="productDescription"type="text" name="productDescription" required maxlength="200"></textarea><br><br>
            
            <label for="product price">Price:</label>
            <input type="text" name="productPrice" required><br><br>

            <label for="product img"></label>
            <input type="file" name="productImg" required >
            <button type="submit">submit</button>
        </fieldset>
    </form>
</body>
</html>