<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toy-shop</title>
    <link rel="stylesheet" href="/style/main.css" class="css">
</head>
<body>
    <section class="header" id="header">
        <a class="header-a" href="#">1</a>
        <a class="header-a" href="#">2</a>
        <a class="header-a" href="/"><img src="" class="header-logo" alt="no image provided"></a>
        <a class="header-a" href="#">3</a>
        <a class="header-a" href="#">4</a>

        <a class="header-a" href="/add-product">add product</a>
        <a class="header-a" href="#">register/login</a>

    </section>

    <section class="news" id="news">
        
    </section>

    <section class="product" id="product">
        <div class="container">
            <div class="productImg">
                <%- name %>
            </div>
        </div>

    </section>

</body>
</html>